<footer>
  <hr />
  <div class="container text-center">
    <p>Learn: Elasticsearch Persistence &nbsp;&nbsp;<%= "#{Time.now.utc.strftime("%A, %b %-d, %Y %H:%M:%S %Z")}" %></p>
    Ruby: <%= RUBY_VERSION %>
    &nbsp;|&nbsp; Rails: <%= Rails::VERSION::STRING %>
    &nbsp;|&nbsp; jQuery: <%= Jquery::Rails::JQUERY_VERSION %>
    &nbsp;|&nbsp; Bootstrap: <%= Bootstrap::VERSION %>
  </div>
</footer>
